/ControlEscolar/nbproject/private/
/ControlEscolar/build/
/AlgoritmosCalendarizacion/nbproject/private/
/AlgoritmosCalendarizacion/build/
/AlgoritmosCalendarizacion/dist/
/Modem/nbproject/private/
/Modem/build/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXSwingApplication1/build/